*, *:before, *:after {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 80px;
    color: lime;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

table {
    margin: auto;
}


td {
    align-content: center;
    border: 5px solid lime;
    height: 150px;
    width: 150px;
}

td div {
    align-content: center;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

